* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  color: $primary-color;
}

.content {
  width: $content-width;
  margin: 0 auto;

  a {
    color: unset;
  }

  i {
    @extend %fa-icon;
    @extend .fas;

    &.fab {
      @extend .fab;
    }
  }
}

