* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  color: $primary-color;

  main {
    section {
      padding: $sections-spacing;

      span {
        &.primary {
          font-size: $thin-size;
          font-weight: $bolder;
          color: $ternary-color;
          text-transform: uppercase;
          margin: $much 0;
          display: block;
        }

        &.wrapper {
          color: $wrapper-primary-color;
          text-transform: unset;
          margin-right: $little;
        }
      }

      h1 {
        font-size: $heading-medium-size;
      }

      p {
        font-weight: $light;
        line-height: $line-height-tall;
      }
    }
  }

  section {
    .content {
      width: $content-width;
      margin: 0 auto;

      a {
        color: unset;
        text-decoration: none;
      }

      button {
        all: unset;
        font-weight: $bolder;
        text-transform: uppercase;
        padding: $button-spacing;
        border-radius: $button-radius;
        white-space: nowrap;
        cursor: pointer;

        &.primary {
          color: $primary-color;
          background: $button-primary-color;
        }

        &.secondary {
          background: $button-secondary-color;
          border: 1px solid $button-primary-color;
        }

      }

      .wrapper {
        background: rgba(50, 71, 50, $wrapper-primary-opacity);
        padding: $wrapper-padding;
        border-radius: $button-radius;
        text-align: center;
      }

      .icon-heading {
        @include flex(row, flex-start, center);

        i {
          &:before {
            font-size: $icon-heading-size;
            margin-right: $little;
          }
        }
      }

      .inner-content {
        &.inline {
          @include flex(row, space-between, center);
          margin-top: $more;

          p {
            padding-right: 12rem;
          }
        }
      }

      .cards {
        @include flex(row, space-between, center);
        flex-wrap: wrap;

        .card {
          position: relative;
          padding: $card-spacing;
          border-radius: $card-radius;

          $width: calc(95% / 3);
          @include flexBasis(0, 0, $width);

          &.most-popular {
            transform: scale(1.02, 1.08);
          }

          &.img {
            position: relative;
            color: $primary-color;
            background-size: cover !important;
            height: 350px;
            overflow: hidden;

            &:after {
              position: absolute;
              top: 0;
              left: 0;
              background: rgba(0, 0, 0, $card-img-overlay-opacity);
              width: 100%;
              height: 100%;
              content: "";
            }

            .item {
              position: absolute;
              bottom: 30px;
              left: 0;
              z-index: 1;
            }
          }

          i {
            font-size: $main-icons-size;
          }

          h2, p {
            margin-top: $more;
          }

          p {
            font-weight: $light;
            line-height: $card-p-line-height;
          }

          button {
            margin-top: $much;
          }

          span {
            &.price {
              font-size: $card-price-size;
              font-weight: $bold;
              color: $icons-color;
              margin-top: $more;
              display: block;
            }
          }

          ul {
            font-weight: $light;
            list-style: none;
            text-align: left;
            margin-top: $more;
            margin-left: $normal;

            li {
              position: relative;
              margin-top: $normal;

              &:after {
                @extend %fa-icon;
                @extend .fas;
                position: absolute;
                right: 0;
                color: $icons-color;
                display: inline-block;
              }

              &.checked {
                &:after {
                  content: "\f00c";
                }
              }

              &.unchecked {
                &:after {
                  content: "\f00d";
                }
              }
            }
          }
        }
      }
    }

    &.primary {
      background: $theme-primary-color;
      color: $secondary-color;

      p {
        margin-top: $more;
      }

      .cards {
        margin-top: $much;

        .card {
          margin-top: $much;
        }
      }
    }

    &.secondary {
      background: $theme-secondary-color;

      .wrapper {
        color: $primary-color;
      }

      .cards {
        margin-top: $much;

        .card {
          color: $primary-color;
          background: $card-secondary-color;
          margin-top: $much;
        }
      }
    }

    &.ternary {
      background: $theme-ternary-color;
      color: $secondary-color;

      p {
        margin-top: $more;
      }

      .cards {
        margin-top: $much;

        .card {
          margin-top: $much;
          background: $theme-primary-color;
        }
      }
    }
  }
}


