* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  color: $primary-color;

  .content {
    width: $content-width;
    margin: 0 auto;

    a {
      color: unset;
      text-decoration: none;
    }

    i {
      @extend %fa-icon;
      @extend .fas;

      &.fab {
        @extend .fab;
      }

      &.circled {
        position: relative;
        color: $icons-color;
        background: $icons-bg-color;
        width: $icon-sizes;
        height: $icon-sizes;
        border-radius: 50%;

        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $icons-color !important;
        }
      }
    }

    h1 {
      font-size: $heading-biggest-size;
      font-weight: $boldest;
    }

    button {
      all: unset;
      font-weight: $bolder;
      text-transform: uppercase;
      padding: $button-spacing;
      border-radius: $button-radius;
      cursor: pointer;

      &.primary {
        background: $button-primary-color;
      }

      &.secondary {
        background: $button-secondary-color;
        border: 1px solid $button-primary-color;
      }

    }

    .wrapper {
      background: rgba(50, 71, 50, $wrapper-opacity);
      padding: $wrapper-padding;
      border-radius: $button-radius;
      text-align: center;
    }
  }
}


