/*theme colors*/
$header-inner-top-color: #21333e;

/*colors*/
$primary-color: #fff;

/*fonts*/
$primary-font: 'Roboto', sans-serif;

/*sizes*/
$content-width: 1200px;

$header-inner-top-height: 50px;

