/*theme colors*/
$theme-primary-color: #fff;
$theme-secondary-color: #111117;
$theme-ternary-color: #eef4ed;
$header-inner-top-color: #21333e;
$pie-bg-color: #0d0d11;
$icons-bg-color: #daeced;
$icons-color: #058283;
$scroll-up-icon-bg-color: #19191c;
$scroll-up-icon-color: #0d1317;
$scroll-up-icon-bottom-position: 1rem;
$scroll-up-icon-right-position: .5rem;

/*text colors*/
$primary-color: #fff;
$secondary-color: #21333e;
$ternary-color: #41c457;
$header-primary-color: #c0c3d0;
$header-secondary-color: #f9f9f9;

/*fonts*/
$primary-font: 'Roboto', sans-serif;

/*font sizes*/
$thin-size: .95rem;
$normal-size: 1rem;
$big-size: 1.2rem;
$heading-medium-size: 3rem;
$heading-biggest-size: 5rem;
$main-icons-size: 2rem;
$icon-heading-size: 1.4rem;
$card-price-size: 2.5rem;
$card-plan-hover-arrow-size: 1.7rem;

/*font weights*/
$light: 100;
$bolder: 500;
$bold: 600;
$boldest: 900;

/*sizes*/
$content-width: 1135px;
$header-inner-top-height: 50px;
$header-inner-main-height: 100px;
$jumbo-height: 875px;
$jumbo-content-width: 800px;
$icon-primary-size: 70px;
$icon-secondary-size: 45px;
$icon-ternary-size: 50px;
$textarea-height: 150px;

/*spacing*/
$less-than-little: .2rem;
$little: .5rem;
$normal: 1rem;
$more: 1.5rem;
$much: 2rem;
$more-than-much: 3rem;
$jumbo-line-height: 1.8rem;
$sections-spacing: 7rem;
$pie-section-spacing: 2rem;
$newsletter-content-spacing: 0 5rem;

/*brand*/
$brand-color: $ternary-color;
$letter-spacing: .3rem;
$span-opacity: .6;
$span-padding: .75rem 0 .75rem 2rem;
$span-radius: 5rem 0 0 5rem;

/*jumbo overlay*/
$jumbo-overlay-opacity: .7;

/*buttons*/
$button-primary-color: #058283;
$button-secondary-color: transparent;
$button-hover-color: $ternary-color;
$button-spacing: .9rem 2rem;
$button-radius: .3rem;

/*wrapper*/
$wrapper-header-opacity: .25;
$wrapper-primary-opacity: .1;
$wrapper-padding: .4rem 1rem;
$wrapper-primary-color: #058283;

/*cards*/
$card-secondary-color: #19191f;
$card-spacing: 3rem 2.5rem;
$card-radius: .8rem;
$card-p-line-height: 1.65rem;
$card-badge-size: 60px;
$card-badge-radius: 0 5rem 5rem 0;
$card-img-overlay-opacity: .45;
$card-hover-position: -15px;
$card-plan-hover-arrow-position: 20px;

/*p*/
$line-height-tall: 1.65rem;

/*form*/
$input-spacing: 1rem 1rem;
$input-color: $secondary-color;
$input-background-secondary-color: #ececec;
$select-color: rgba(33, 51, 62, .55);

/*paths*/
$jumbo-path: "../images/jumbo.png";
$about-image-path: "../images/about-3.jpg";
$newsletter-background-image-path: "../images/bg-1.jpg";

/*css variables*/

:root {
  --header-inner-top-color: #{$header-inner-top-color};
  --header-inner-top-height: #{$header-inner-top-height};
  --header-inner-main-height: #{$header-inner-main-height};
}

