<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lead Customer</title>
    <link rel="icon" href="assets/images/favicon.svg">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <section id="application">
        <header>
            <section id="inner-top">
                <div class="content">
                    <div class="inner-left">
                        <div class="item" v-for="item in structure.header.top.innerLeft.items" v-html="getItems(item)"></div>
                    </div>
                    <div class="inner-right">
                        <div class="item" v-for="item in structure.header.top.innerRight.items" v-html="getItems(item)"></div>
                    </div>
                </div>
            </section>
            <section id="inner-main">
                <div class="content">
                    <div class="inner-left">
                        <div class="brand" v-html="structure.header.main.brandName"></div>
                    </div>
                    <div class="inner-right">
                        <div class="item" :class="item.class" v-for="item in structure.header.main.navigationItems" v-html="getItems(item)"></div>
                    </div>
                </div>
            </section>
            <section id="jumbo">
                <div class="content">
                    <div class="item" v-for="item in structure.header.jumbo.items" v-html="getItems(item)"></div>
                    <div class="actions">
                        <div class="item" :class="item.class" v-for="item in structure.header.jumbo.actions" v-html="getItems(item)"></div>
                    </div>
                </div>
            </section>
        </header>
        <main>
            <section id="advantages" class="ternary">
                <div class="content">
                    <div class="cards">
                        <div class="card" v-for="card in structure.main.advantages.cards">
                            <div class="item" v-for="item in card.items" v-html="getItems(item)"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="about" class="primary">
                <div class="content">
                    <div class="inner-content">
                        <div class="item" v-for="item in structure.main.about.items" v-html="getItems(item)"></div>
                        <div class="inner-container">
                            <div class="item-container" v-for="item in structure.main.about.items[structure.main.about.items.length - 1].innerContainer.iconHeadings" v-html="getItems(item)"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="services" class="secondary">
                <div class="content">
                    <div class="item" v-for="item in structure.main.services.items" v-html="getItems(item)"></div>
                    <div class="inner-content inline">
                        <div class="item" v-for="item in structure.main.services.itemsGroup" v-html="getItems(item)"></div>
                    </div>
                    <div class="inner-content">
                        <div class="cards">
                            <div class="card" v-for="card in structure.main.services.cards">
                                <div class="item" v-for="item in card.items" v-html="getItems(item)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="plans" class="ternary">
                <div class="content">
                    <div class="item centered text-centered w70" v-for="item in structure.main.plans.items" v-html="getItems(item)"></div>
                    <div class="cards">
                        <div class="card plan" v-for="card in structure.main.plans.cards" :class="card.class">
                            <div class="item text-centered" v-for="item in card.items" v-html="getItems(item)"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="blog" class="primary">
                <div class="content">
                    <div class="item" v-for="item in structure.main.editorial.items" v-html="getItems(item)"></div>
                    <div class="inner-content inline">
                        <div class="item" v-for="item in structure.main.editorial.itemsGroup" v-html="getItems(item)"></div>
                    </div>
                    <div class="inner-content">
                        <div class="cards">
                            <div class="card img" v-for="card in structure.main.editorial.cards" :style="card.imagePath">
                                <div class="item text-centered" v-for="item in card.items" v-html="getItems(item)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="newsletter" class="secondary">
                <div class="content">
                    <div class="inner-content">
                        <div class="item" v-for="item in structure.main.newsletter.items" v-html="getItems(item)"></div>
                    </div>
                    <div class="inner-content">
                        <form>
                            <div class="item" v-for="item in structure.main.newsletter.form" v-html="getItems(item)"></div>
                        </form>
                    </div>
                </div>
            </section>
            <section id="get-in-touch" class="primary">
                <div class="content">
                    <div class="inner-content" v-for="content in structure.main.getInTouch">
                        <div class="item" v-for="item in content.items" v-html="getItems(item)"></div>
                        <form v-if="content.form">
                            <div class="item" :class="item.class" v-for="item in content.form" v-html="getItems(item)"></div>
                        </form>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <section id="inner-footer" class="secondary">
                <div class="content">
                    <div class="cards">
                        <div class="card" :class="content.class" v-for="content in structure.footer.innerFooter">
                            <div class="item" :class="item.class" v-for="item in content.items" v-html="getItems(item)"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="pie" class="secondary">
                <div class="content">
                    <div class="inner-content" v-for="item in structure.footer.pie.items">
                        <div class="item" v-html="getItems(item)"></div>
                    </div>
                </div>
            </section>
        </footer>
        <div id="scroll-up">
            <i class="arrow-up circled" @click="scrollUp"></i>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <script src="assets/js/vue.js"></script>
    <script type="module" src="assets/js/app.js"></script>
</body>
</html>