section#inner-top {
  background: $header-inner-top-color;
  height: $header-inner-top-height;

  .content {
    height: 100%;
    @include flex(row, space-between, center);
    @include headerContent($header-primary-color, $thin-size, $more);
  }
}