section#inner-main {
  position: absolute;
  top: $header-inner-top-height;
  background: transparent;
  width: 100%;
  height: $header-inner-main-height;
  text-transform: uppercase;
  z-index: 4;

  .content {
    @include headerContent($header-secondary-color, $normal-size, $much);

    .inner-right {
      .item {
        font-weight: $bolder;

        button {
          margin-right: $little;
        }
      }
    }
  }
}