section#advantages {
  background: $ternary-color;
  padding: $sections-spacing;

  .cards {
    @include flex(row, space-between, center);

    .card {
      color: $secondary-color;
      background: $primary-color;
      padding: $card-spacing;
      border-radius: $card-radius;

      $width: calc(95% / 3);
      @include flexBasis(0, 0, $width);

      i {
        @extend %fa-icon;
        @extend .fas;
        font-size: $main-icons-size;

        &.users {
          &:before {
            color: #000;
            content: "\f500";
          }
        }

        &.chart {
          &:before {
            color: #000;
            content: "\f200";
          }
        }

        &.tachometer {
          &:before {
            color: #000;
            content: "\f3fd";
          }
        }
      }

      h2, p {
        margin-top: $more;
      }

      p {
        font-weight: $light;
        line-height: $card-p-line-height;
      }

    }
  }
}