/* Error: Undefined variable.
 *    ,
 * 10 |       color: $inner-top-main-color;
 *    |              ^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   src\scss\partials\header\inner-top.scss 10:14  @import
 *   src\scss\partials\header\header.scss 2:13      @import
 *   src\scss\style.scss 13:9                       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 10 \2502        color: $inner-top-main-color;\d\a    \2502               ^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   src\\scss\\partials\\header\\inner-top.scss 10:14  @import\a   src\\scss\\partials\\header\\header.scss 2:13      @import\a   src\\scss\\style.scss 13:9                       root stylesheet";
}
